{% load static %}

<div class="row question-box">
    <div class="col-3">
        <img class="q-image" src="{{ question.author.user.userprofile.image_profile.url }}" title="Светланочка">
        <div class='like'>
            <button class='like-toggle basic js-answer-like' data-qid="{{ answer.pk }}">♥</button>
              <p class="number-of-likes" id="answers_likes-{{ answer.pk }}">{{ answer.likes }}</p>
<!--              <span class='hidden' >1 Like</span>-->
          </div>
        <!-- <div class='num-likes'>
            <p> {{ answer.likes }} likes </p>
            <p> {{ answer.dislikes }} dislikes </p>
        </div> -->
    </div>
    <div class="col-9">
        <p class="answer"> {{ answer.text }}
        </p>
        <div class="custom-control custom-checkbox">
            <input class="js-correct" data-id="{{ answer.pk }}" type="checkbox" id="correct-{{ answer.pk }}" {% if answer.correct %} checked {% endif %}>
            <label class="form-check-label" for="correct-{{ answer.pk }}">
            </label>
            {% if answer.correct %}
                <label class="form-check-label" for="correct-{{ answer.pk }}">
                    Correct!
                </label>
            {% else %}
                <label class="form-check-label" for="correct-{{ answer.pk }}">
                    Not Correct!
                </label>
            {% endif %}
        </div>
        <p class="Datetime ans">{{ answer.date_create }}</p>
    </div>
</div>