{% load static %}

<div class="row question-box">
    <div class="col-3">
        <img class="q-image" src="{% static "img/grandbeauty00.jpg" %}" title="Светланочка">
        <div class="parent">
            <a href="javascript:void(0)" class="like-button like-button-up">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)" class="like-button like-button-down">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            </a>
        </div>
        <div class='num-likes'>
            <p> {{ question.likes.all.count }} likes </p>
            <p> {{ question.dislikes.all.count }} dislikes </p>
        </div>
    </div>
    <div class="col-9">
        <h2><a href="/question/{{ question.id }}">{{ question.title }}</a></h2>
        <p class="Datetime">{{ question.date_create }}</p>
        <p class="text">{{ question.text }}</p>

        <div class="footer-column">
            <a href="/question/{{ question.id }}">answers ({{ question.answers }})</a>
            <p class="tags">Tags:</p>
            {% for tag in question.tags.all %} 
            <a href="/tag/{{ tag }}">{{ tag }}</a>
            <p></p>
            {% endfor %}
        </div>
    </div>
</div>