{% extends 'inc/base.html' %}
{% block content %}
    {% load static %}

{% block navbar %}
{% include 'inc/navbar-in.html' %}
{% endblock navbar %}

{% include 'inc/question_block.html' %}
{% load crispy_forms_tags %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-group row">
    <div class="col-sm-12">
        {{ form.text|as_crispy_field }}
        <!-- <textarea type="text" class="form-control form-control-lg textarea" id="colFormLabelLg" placeholder="Enter your answer here..."></textarea> -->
    </div>
</div>
<button type="submit" class="btn btn-outline-primary btn-answer">Answer</button>
</form>
<hr>

{% for answer in answers %} 
    {% include 'inc/answer.html' %}
{% endfor %}
{% endblock content %}

{% block jscode %}
    <script src="{% static '/js/like.js' %}"></script>
    <script src="{% static '/js/is_correct.js' %}"></script>
{% endblock jscode %}
 