{% load static %}

<div class="row question-box">
    <div class="col-3">
        <img class="q-image" src="{% static "img/grandbeauty00.jpg" %}" title="Светланочка">
        <div class='like'>
            <button class='like-toggle basic'>♥</button>
            <span class='hidden color-like'>Like!</span>
        </div>
    </div>
    <div class="col-9">
        <p class="answer"> {{ answer.text }}
        </p>
        <div class="form-check footer-column">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Correct!
            </label>
        </div>
    </div>
</div>